body {
  
   font: 12px/1.4em Arial,sans-serif;
}
#wrap {
   margin: 10px auto;        
   padding: 10px;
   width: 700px;
}
#header {
  
}
#logo {
   height: 400px;    
   padding: 5px;
   background-image: url('Images/1sthtml/bg.png');
   padding-left:auto;padding-right:auto;
}
#navWrap {
   height: 30px;
}
#nav {
   padding: 5px;
   background: #999;    
}
#nav ul {
   margin: 0;
   padding: 0;    
}
#nav li {
   float: left;
   padding: 3px 8px;
   background-color: #FFF;
   margin: 0 10px 0 0;
   color: #F00;
   list-style-type: none;
}
#nav li a {
   color: #F00;  
   text-decoration: none;    
}
#nav li a:hover {
   text-decoration: underline;   
}
br.clearLeft {
   clear: left;        
}​