

/* ===========================
   ======= Content Area ====== 
   =========================== */


.pfcontent {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}
